.Wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: visible;
  z-index: 0;

  &.center {
    justify-content: center;
  }
}

.Wrapper > * {
  /* Reset styles for children - children use their own absolute positioning */
}