.Wrapper {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  z-index: -1 !important;
  visibility: hidden;
  justify-content: flex-start;

  &.center {
    justify-content: center;
  }
}

.Wrapper > * {
  /* Reset styles for children */
  visibility: visible;
}