/* .EditorArea {
  visibility: hidden;
} */

/* i don't get why the style above has to be on EditorArea and the following has to be on EditorElementWrapper */

/* .EditorElementWrapper > * { 
  visibility: visible;
} */

.hideScrollbar {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.hideScrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
